<component name="libraryTable">
  <library name="spring-security-config-4.0.2.RELEASE-1.0">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/app/web/WEB-INF/repo/local/spring-security-config-4.0.2.RELEASE/1.0/spring-security-config-4.0.2.RELEASE-1.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>